.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 1px 6px 6px -4px rgba(218, 82, 4, 0.2);
  -webkit-box-shadow: 1px 6px 6px -4px rgba(46, 46, 46, 0.2);
  -moz-box-shadow: 1px 6px 6px -4px rgba(46, 46, 46, 0.2);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #0e1f50;
  font-weight: 600;
}

.nav-links li a:hover {
  color: tomato;
}

.text-judul {
  color: #0e1f50;
  font-weight: bold;
}
